<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>tg</string>
        <string>telegram</string>
    </array>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>NSCameraUsageDescription</key>
    <string>Camera access is needed to photograph items you wish to sell.</string>
</dict>
</plist>
